<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogBackend</title>
    {load href="__PLUGINS__/bootstrap/css/bootstrap.css"}
    {load href="__ADMIN__/common/header.css"}
</head>
<body>
<header id="topBar">
    <div class="mainHeader">
        <div class="header-icon"></div>

        <div class="center">
            <ul>
                <li>
                    <a class="active">首页</a>
                </li>
                <li>
                    <a class="active">用户</a>
                </li>
                <li>
                    <a class="active">内容</a>
                </li>
                <li>
                    <a class="active">内容</a>
                </li>
                <li>
                    <a class="active">内容</a>
                </li>
                <li>
                    <a class="active">内容</a>
                </li>
            </ul>
        </div>

        <div class="right">
            <button class="btn" id="adminBtn">我的</button>
            <ul class="person-btn">
                <a><li>账号设置</li></a>
                <a><li>操作日志</li></a>
                <a><li>登陆日志</li></a>
                <a><li>安全退出</li></a>
            </ul>
        </div>
    </div>
</header>